<ng-container>
    <section class="header">
        <div class="logo">
            <div class="img">
                <h2>DentalCare Pro</h2>
                <!-- <img src="" alt=""> -->
            </div>
            <div class="time">
                <p>{{todayDate | date}}</p>
            </div>
        </div>
        <section class="profile">
            <div class="notification">
                <mat-icon>notifications</mat-icon>
                <span class="bell">{{count}}</span>
            </div> |
            <div class="details">
                <div class="name">
                    <p>Dr.Sarah Johnson</p>
                    <p>Administrator</p>
                </div>
                <div class="pic">
                    <img src="" alt="">
                </div>
            </div>
        </section>
    </section>
</ng-container>